.myLoginBox .ant-input,
.myLoginBox .ant-input-password {
  background-color: rgba(255, 255, 255, 0);
  border-color: #1890ff;
  color: #fff;
  height: 38px;
}
.myLoginBox .ant-input::placeholder,
.myLoginBox .ant-input-password::placeholder {
  color: rgba(24, 144, 255, 0.6);
}
.myLoginBox .ant-input-password .ant-input {
  height: 28px;
}
.myLoginBox .anticon.ant-input-password-icon,
.myLoginBox .anticon.ant-input-password-icon:hover {
  color: #1890ff;
}
.myLoginBox .captchaBox {
  display: flex;
}
.myLoginBox .captchaBox .captchaImg {
  margin-left: 20px;
  cursor: pointer;
}
.myLoginBox .loginBtn {
  height: 38px;
}
